body {
  font-family: "Roboto";
  font-size: 16px;
  min-height: 100vh;
  background-color: $c-black;
  color: #fff;
}

a,
a:visited {
  text-decoration: none;
  transition: 0.15s;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

::selection {
  background-color: rgba($c-grey, 90%);
  color: $c-dark;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
